.admin{
    position: absolute;
    padding-top: 5px;
    left: 0;
    width: 100%;
    background: #dde1e7;
    display: flex;
    flex-direction: column;
  }
   .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 150px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    background: white;
  }
  .modal input{
    padding: 5px 3px;
    width: 60%;
    border-radius: 20px;
    padding-left: 15px;
  }
  .admin .headcontrol{
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-left: 150px;
    padding-bottom: 5px;
  }
  .admin .belowhead{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin button{
    margin: 0 5px;
    transition: 0.1s;
  }
  .admin button:hover{
   transform: scale(1.1);
  }
  .admin .belowhead button{
    transform: scale(0.8);
  }
  .admin::before{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    background: #dde1e7;
  }
  .admin .aggre{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .admin .ano{
    /* border: 1px solid red; */
    color: #242424;
    max-width: 350px; 
    margin: 6px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }
  .admin .ano .sno{
    display: inline-block;
     width: 60px; 
     height: 50px; 
     line-height: 50px;
     text-align: center;
     font-weight: 600;
    text-align: center;
    z-index: 5;
    background: #dde1e7;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  }
 
  .admin .ano .idname{
    display: inline-block;
    border: 1px solid rgb(225, 14, 14);
    padding: 7px 3px 7px 20px;
    border-radius: 15px;
    z-index: 3;
    font-size: 12px;
    width: 280px;
    height: 34px;
    overflow: hidden;
    transform: translateX(-15px);
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  }
  .admin .ano .idname span{
    float: left;
    margin-right: 2px;
    display: inline-block;
    /* border: 1px solid red; */
  }
  .admin .stat{
    position: absolute;
    top: 9px;
    border-radius: 50%;
    right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    background: #dde1e7;
    z-index: 10;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
    transform: translate(-50%,-50%);
  }
  .admin .staticon{
    border-radius: 50%;
    transform: scale(0.8);
    color: green;
    cursor: pointer;
  }
  .admin .staticon.pending{
    color: rgb(124, 82, 4);
  }
  .admin .staticon.reject{
    color: red;
  }
  .admin h2{
    letter-spacing: 2px;
    color: #2c2525;
  }
  .team{
    color: grey;
  }
  
 